<h1>MovieDB</h1>

<a href="/directors/">Directors</a>
<a href="/movies/">Movies</a>
<a href="/actors/">Actors</a>

<h1> Movie #<%= @current_movie.id %></h1>

<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @current_movie.title %></dd>
    <dt>Year</dt>
  <dd><%= @current_movie.year %></dd>
  <dt>Duration</dt>
  <dd><%= @current_movie.duration %></dd>
  <dt>Description</dt>
  <dd><%= @current_movie.description %></dd>
   <dt>Image</dt>
  <dd><img src="<%= @current_movie.image_url %>" class="img-responsive" alt="Movie Image"></dd>
</dl>
